.cardStyle{
    display: inline-flex !important;
    margin: 5px;
    width: 170px;
    text-align: center;
    border-color: #c8c8c8 !important;
}

.cardContainer{
    display: table;
    margin: auto;
    margin-top: 30px;
}

.headerContainer{
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
}

.currForecast{
    color: #858585;
}

.cityNameHeaderDark{
    color: #fff;
}

/* mobile */
@media (max-width: 768px) {
    .cardStyle{
        display: inline-flex !important;
        margin: 5px;
        width: 170px;
        text-align: center;
        border-color: #c8c8c8 !important;
        min-width: 97.5% !important;
        height: 103px !important;
        margin-bottom: 3px !important;
    }
    
    .cardContainer{
        display: table;
        margin: auto;
        margin-top: 10px;
    }
    
    .headerContainer{
        margin-left: 0px;
        margin-top: 10px;
        text-align: center;
    }
    
    .currForecast{
        color: #858585;
        margin-top: 0px;
    }

    .cityNameHeaderDark{
        margin-top: 95px;
        color: #fff;
    }

    .cityNameHeaderLight{
        margin-top: 95px;
    }
}