.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.navStyleLight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(120 165 220);
  color: #fff;
}

.navStyleDark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(31 31 31);
  color: #fff;
}

.nav-link {
  height: 40px;
  position: absolute;
  right: 0px;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #fff;
}

.link {
  color: #fff;
  transition: 100ms;
  margin: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #fff;
}

@media (max-width: 768px) {
  .link {
    color: #fff;
    transition: 100ms;
    margin: 10px;
    margin-top: 29px;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: none;
    color: #fff;
  }
}
